aside.main__aside.aside__block
  include /_include/_profile
  +asideLinkList(aside.category)
  .aside__ad
    include /_include/_ad
  +asideLinkList(aside.comments)
  .aside__ad
    include /_include/_ad
  +asideLinkList(aside.links)
