head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='http://fonts.googleapis.com/earlyaccess/notosansjp.css')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu+Mono')
  link(rel='stylesheet' href='/css/atom-one-dark.css')
  link(rel='stylesheet' href='/css/font-awesome.min.css')
  link(rel='stylesheet' href='/css/html5reset-1.6.1.css')
  link(rel='stylesheet' href='/css/style.css')
  title #{head.title}
