.article-item {
  $thumbnail-height: 150px;
  &__block {
    width           : 100%;
    padding         : $thumbnail-height 6px 10px;
    box-sizing      : border-box;
    display         : flex;
    flex-direction  : column;
  }
  &__headline-anchor {
    position: unset;
  }
  &__thumbnail {
    height          : $thumbnail-height - 5px;
    position        : absolute;
    top             : 5px;
    left            : 5px;
    right           : 5px;
    overflow        : hidden;
    justify-content : center;
    &>img {
      position  : absolute;
      top       : 0;
      bottom    : 0;
      left      : 0;
      right     : 0;
      width     : 100%;
      margin    : auto;
    }
    @include pseudoBlockAfter {
      position  : absolute;
      top       : 0;
      bottom    : 0;
      left      : 0;
      right     : 0;
    }
  }
  &__headline {
    @include FontAppearance(18, 24);
    color       : $black;
    white-space : pre-line;
    margin      : 10px 0;
  }
  &__categories {
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
  &__category {
    @include FontAppearance(14, 14);
    flex-shrink: 0;
    flex-grow: 0;
    &:not(:last-child):after{
      content : ',';
      color   : $banana-blue;
      margin-left: 0.1em;
      margin-right: 0.3em;
    }
  }
  // &__category-anchor {}
  &__gadgets {
    margin-top: 8px;
    flex-shrink: 0;
    display: flex;
    justify-content: flex-end;
  }
}
