$invisible: rgba(0, 0, 0, 0);
$shadow   : rgba(0, 0, 0, 0.1);
$black    : #000000;

$banana-white : #f3f4e7;
$banana-light : #fbfde0;
$banana-beige : #dee0c4;
$banana-gray  : #989983;
$banana-blue  : #518491;
$banana-green : #6db99e;
$banana-pink  : #eda998;
$banana-orange: #ed927d;
$banana-red   : #ed795d;
$banana-brown : #a85642;
$banana-black : #1d2f33;

$mail     : #d14836;
$twitter  : #1da1f2;
$github   : #24292e;
$hatebu   : #1da1f2;
